.d-flex {
  display: flex;
}

.d-inherit {
  display: inherit;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}
